.ab_container {
    height: auto;
}

.ab_about_container {
    width: 100%;
    height: 13vw;
    background-color: #fff6da;
    color: white;
    text-align: center;
    padding-top: 1.5vw;
    font-size: 2.5vw;
    font-weight: bold;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.ab_section {
    position: relative;
    padding: 3vw 0 1vw;
    bottom: 8vw;
    margin: 0 20%;
    background-color: white;
    border: 3px solid #000000;
    border-radius: 0.5vw;
}

.ab_title, .ab_content {
    display: flex;
}

.ab_title > div, .ab_content > div {
    text-align: center;
    width: 20vw;
}

.ab_title > div {
    font-size: 2vw;
    font-weight: bold;
}

.ab_content > div {
    margin-bottom: 2vw;
    font-size: 1vw;
}