.sk_container {
    position: relative;
    overflow: auto;
    bottom: 4vw;
    margin-bottom: 8vw;
    background-color: #fffcc9;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}

.sk_skill_section {
    display: inline-block;
    margin-top: 2vw;
    margin-left: 6vw;
    margin-bottom: 1vw;
    padding: 0.2vw 2vw;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.sk_skill_section > img {
    width: 2vw;
    margin-right: 1vw;
}

.sk_info {
    padding-bottom: 3vw;
    margin-left: 16vw;
}

.sk_f_section {
    margin-bottom: 2vw;
}

.sk_f_section, .sk_b_section {
    display: inline-block;
}

.sk_title {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: auto;
    padding: 0.5vw 1vw;
    border: 0.2vw solid black;
    border-radius: 5px;
    font-size: 2vw;
    font-weight: bold;
    background-color: white;
}

.sk_content_info {
    display: flex;
    position: relative;
    border: 0.2vw solid black;
    border-radius: 5px;
    bottom: 2vw;
    flex-wrap: wrap;
    gap: 10px;
    padding: 3vw 0 0 3vw;
    margin-left: 3vw;
    width: 48vw;
    background-color: white;
}

.sk_content_info > img {
    flex: 0 0 20%;
    max-width: 5vw;
    max-height: 5vw;
    border-radius: 5px;
    margin-right: 3.1vw;
    margin-bottom: 2vw;
    padding: 0.5vw;
    background-color: #bababa;
}

.sk_var_section {
    position: absolute;
    text-align: center;
    top: 7vw;
    right: 7vw;
}

.sk_var_title {
    display: inline-block;
    position: relative;
    z-index: 10;
    padding: 0.5vw 1vw;
    border: 0.2vw solid black;
    border-radius: 5px;
    font-size: 2vw;
    font-weight: bold;
    background-color: white;
}

.sk_var_content_section {
    position: relative;
    bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
    max-width: 10vw;
    background-color: white;
    padding: 3.5vw 2vw 2vw;
    border-radius: 5px;
    border: 0.2vw solid black;
}


.sk_var_content_section > img {
    background-color: #cacaca;
    border-radius: 5px;
    max-width: 5vw;
    max-height: 5vw;
    padding: 0.5vw;
    margin-bottom: 2vw;
}

.sk_var_content_section > img:last-child {
    margin-bottom: 0;
}